{% extends 'base-logout.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<h1>Se connecter</h1>
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="already-logged-container">
				Vous êtes déjà connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>
		{% endif %}
		<label for="username">E-mail</label>
		<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
		<label for="password">Mot de passe</label>
		<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
																						            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																						            See https://symfony.com/doc/current/security/remember_me.html
																						
																						            <div class="checkbox mb-3">
																						                <label>
																						                    <input type="checkbox" name="_remember_me"> Remember me
																						                </label>
																						            </div>
																						        #}
		<br>
		<button class="button button-submit" type="submit">
			Continuer
		</button>
		<div class="form-text-container">
			<p class="form-text">
				Pas de compte ?
			</p>
			<a href="{{ path('app_register') }}" class="form-link">S'inscrire</a>
		</div>
	</form>
{% endblock %}
