{% extends 'base-logout.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<h1>S'inscrire</h1>

	{{ form_errors(form) }}

	{{ form_start(form) }}
	<div>
		{{ form_row(form.nom, {label: 'Nom'}) }}
	</div>
	<div>
		{{ form_row(form.prenom, {label: 'Prénom'}) }}
	</div>
	<div>
		{{ form_row(form.email, {label: 'Email'}) }}
	</div>
	<div>
		{{ form_row(form.plainPassword.first, {label: 'Mot de passe'}) }}
	</div>
	<div>
		{{ form_row(form.plainPassword.second, {label: 'Confirmer le mot de passe'}) }}
	</div>
	<br>
	<button type="submit" class="button button-submit">Continuer</button>
	<a href="{{ path('app_login') }}" class="form-text form-link">Vous avez déjà un compte ?</a>
	{{ form_end(form) }}
{% endblock %}
